{% extends 'baseCafe.html.twig' %}

        {% block javascripts %}
            <script src="{{ asset('build/js/cafe.js') }}"></script>
        {% endblock %}

        {% block contentHeader %}
            <b>Header</b>
        {% endblock %}
        {% block contentLeft %}
            <h1>welcome to Google Cafe!</h1><br>
            <input id="searchTextField" size="100"><br>
            <h1>{{ coordinates }}</h1> <br>
            <button class="btn btn-success"
                    onclick="
                $('#info_test').html('jQuery is here');
                searchByAdress();"
            >Поиск по адресу</button>
        {% endblock %}

{% block body %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/js/common.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
