{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cafes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Googleplaceid</th>
                <th>Title</th>
                <th>Raiting</th>
                <th>Review</th>
                <th>Address</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Status</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cafe in cafes %}
            <tr>
                <td><a href="{{ path('cmanager_show', { 'id': cafe.id }) }}">{{ cafe.id }}</a></td>
                <td>{{ cafe.googlePlaceId }}</td>
                <td>{{ cafe.title }}</td>
                <td>{{ cafe.raiting }}</td>
                <td>{{ cafe.review }}</td>
                <td>{{ cafe.address }}</td>
                <td>{{ cafe.lat }}</td>
                <td>{{ cafe.lng }}</td>
                <td>{{ cafe.status }}</td>
                <td>{% if cafe.createdAt %}{{ cafe.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cmanager_show', { 'id': cafe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cmanager_edit', { 'id': cafe.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cmanager_new') }}">Create a new cafe</a>
        </li>
    </ul>
{% endblock %}
