{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cafe</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cafe.id }}</td>
            </tr>
            <tr>
                <th>Googleplaceid</th>
                <td>{{ cafe.googlePlaceId }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ cafe.title }}</td>
            </tr>
            <tr>
                <th>Raiting</th>
                <td>{{ cafe.raiting }}</td>
            </tr>
            <tr>
                <th>Review</th>
                <td>{{ cafe.review }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ cafe.address }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ cafe.lat }}</td>
            </tr>
            <tr>
                <th>Lng</th>
                <td>{{ cafe.lng }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ cafe.status }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if cafe.createdAt %}{{ cafe.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cmanager_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cmanager_edit', { 'id': cafe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
